body {
	background-color: lightgreen;
}

input {
    text-align: center;
    background: transparent;
    border-color: black;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid;
}

button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

ul {
    list-style-type: none;
}

#menu-bar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

@media screen and (max-width: 600px) {
  div {
    padding: 0;
  }
} 

.deletable-list {
    display: flex;
    flex-wrap: nowrap;
}

.display-meal-name {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

.display-meal-columns {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.modal-wrapper.meal-display {
    background-color: lightpink;
}

.modal-wrapper.person-display {
    background-color: lightblue;
}

.modal-wrapper.edit-guests {
    background-color: beige;
}

.meal-column {
    display: inline-block;
}

.meal-column-title {

}

#add-guest {
    display: inline-block;
    padding-left: 5px;
}

#fig-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.inner-button {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    display: inline-block;
    width: 20vw;
    height: 8vh;
    text-align: center;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-person-button {
	background-color: lightgray;
}

#add-meal-button {
	background-color: lightpink;
}

#people-button {
    background-color: lightblue;
}

#meals-button {
    background-color: beige;
}

#close-buttons {

}

#complete-buttons {
    position: absolute;
    top: 2.5vw;
    right: 7vw;
}

#close-buttons {
    position: absolute;
    top: 2.7vw;
    left: 4.5vw;
}

.input-button {
  border-bottom: 2px solid;
}

.invisible {
    display: none;
}

.visible {
    display: inline-block;
}

.modal-wrapper {
    position: absolute;
    left: 50%;
    top: 10vh;
    transform: translateX(-50%);
    background-color: rgba(212, 255, 152, 0.4);
    height: 80vh;
    width: 90vw;
}

.modal-content-wrapper {
    position: absolute;
    width: 100%;
    padding-top: 5vh;
    left: 50%;
    transform: translateX(-50%);
}

.modal-name-input {
    display: inline-block;
}

#meal-name-entry {
    padding-bottom: 1vh;
}

#meal-modal-content-wrapper {
    /*left: 0vw;*/
}

#member-columns {
    position: absolute;
    top: 20vh;
    width: 100%;
    padding-top: 5px;
    padding-left: 5px;
}

.column {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    list-style-type: none;
}

  #sortable1, #sortable2 {
    border: 1px solid #eee;
    width: 142px;
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    margin-right: 10px;
}

  #sortable1 li, #sortable2 li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 120px;
}

#date-container {
    display: inline-block;
    padding-bottom: 2vh;
}

#complete-add-person { 
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.food-prefs {
    margin-top: 4vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;

}

.pref-column {
    display: inline-block;
    height: 80vh;
}


.flex-stack {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.tab-menu {
  margin-top: 5vh;
  display: flex;
}

.tabmenu {
    margin-left: 2vw;
    margin-right: 2vw;
}

section {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

label {
  background: #eee; 
  border: 1px solid #ddd; 
  padding: .7em 1em;
  cursor: pointer;
  z-index: 1;
  margin-left: -1px;
}

label:first-of-type {
  margin-left: 0;
}

div {
  /*width: 100%;*/
/*  margin-top: -1px;
  padding: 1em;
  -webkit-order: 1;
  order: 1;*/
}

input.tab-input[type=radio], div.tab-input {
  display: none;
}
input[type=radio]:checked + label {
  background: #fff;
  border-bottom: 1px solid #fff;
}
input[type=radio]:checked + label + div {
  display: block;
}